<h2 class='title'>Manage the Data</h2>
<ul class="reset">
	<li><%= link_to("Manage the Subjects",:controller=>'subjects') %></li>
	<li><%= link_to("Manage the Administrator",:controller=>'admin_user') %></li>
	<li><%= link_to("Logout",:action=>'logout') %></li>
</ul>